[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = gouravtest
[access "refs/*"]
	owner = group user/gouravsaini98104
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gouravsaini98104
	label-Verified = -1..+1 group user/gouravsaini98104
	push = group user/gouravsaini98104
	read = group user/gouravsaini98104
	rebase = group user/gouravsaini98104
	removeReviewer = group user/gouravsaini98104
	submit = group user/gouravsaini98104
[access "refs/heads/*"]
	create = group user/gouravsaini98104
	push = +force group user/gouravsaini98104
	pushMerge = group user/gouravsaini98104
	read = group user/gouravsaini98104
[access "refs/tags/*"]
	push = group user/gouravsaini98104
	push = +force group user/gouravsaini98104
